@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
    margin: 0;
}

body {
    font-family: 'Righteous', cursive;
    color: white;
}

body::before {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: url("/images/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#header {
    padding: 10px;
    width: 55%;
    margin: 0 auto;
    text-align: center;
}

#main {
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

form {
    padding-top: 20px;
    font-size: 20px;
    line-height: 29px;
}

#age {
    width: 130px;
}

textarea {
    width: 700px;
    height: 75px;
}

.back-color {
    background-color: rgba(15, 70, 115, 0.8);
}
